*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

/*Header*/

header{
    background-color: white(70, 68, 68, 0.37);
    height: 10vh;
    margin: 0  8%;
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__logo{
    object-fit: cover;
    margin-top: 3rem;
}

.header__links{
    text-decoration: none;
    color: #1d1da5;
    margin-right: 4rem;
    font-size: 1.5rem;
}

.contacto{
    padding: 0.5rem;
    border: 1px transparent solid ;
    background-color: #6b8cc1; 
    border-radius: 25px;  
    color: white; 
}

/* NAV */

.nav{
    height: 80vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8%;
}

.nav__left{
    width: 50%;
}

.nav__text{
    color: #1d1da5;
    font-size: 3rem;
    justify-content: center;
    font-weight: 800;
}

.nav__paraph{
    font-size: 1.2rem;
    text-align: start;
    margin-top: 1.5rem;
    line-height: 3rem;
}


.nav__right{
    width: 50%;
}

.nav__img{
    margin-top: 3rem;
    width: 60%;
    object-fit: cover;
    text-align: center;
    border-radius: 15px;
    transform: rotate(20deg);
    min-width: 300px;
}

/*Confianza*/

.confident{
    background-color: #6b8cc1;
    height: 10vh;
    padding: 0.1px;
}

.confident__text{
    text-align: center;
    font-size: 2rem;
    color: white;
    height: 100%;
    margin-top: 30px;
}

/* ZONAS DE COBERTURA */

.covered{
    margin: 0 5%;
    height: 50vh;
    padding: 0.1px;
}

.covered__title{
    font-size: 2.5rem;
    text-align: center; 
    margin-top: 20px;
    font-weight: 500;
    color: #1d1da5;
}

.covered__container{
    display: flex;
    padding: 1.2rem;
    height: 85%;
    overflow: hidden;
}

.covered__sites{
    background-image: url(Cua.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    border-radius: 20px;
    flex: 1;
    transition: 0.5s;
    overflow: hidden;
    margin-right: 30px;
}

.covered__sites.cua{
    background-image: url(Cua.JPG);
}

.chara{
    background-image: url(Charallave.JPG) ;
}

.ocumare{
    background-image: url(Ocumare.JPG) ;
}


.covered__sites:hover{
    flex: 2;
}

.site__title{
    font-size: 4rem;
    text-align: center;
    transition: 0.5s;
    color: black;
    margin-top: 30%;
    font-weight: 500;
}

.covered__sites:hover .site__title{
    margin-top: 10%;
    margin-left: 0%;
}

.site__subtitle{
    text-align: center;
    font-size: 2rem;
    opacity: 0;
    transition: 0.5s;
    margin-top: 300px;
}

.covered__sites:hover .site__subtitle{
    position: relative;
    opacity: 100;
    color: rgb(0, 0, 0);
    margin-top: 0px;
}

/* PLANES */ 

.plans{
    height: 50vh;
    margin: 0 8%;
}

.plans__container{
    height: 80%;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 2rem;
}

.plans__cards{
    text-align: center;
    border: 1px #1d1da5 solid;
    width: 20%;
    height: 100%;
    padding: 1.5rem;
    border-radius: 25px;
    margin-right: 50px;
}

.card__title{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.plans__cards h6{
    font-size: 1.2rem;
    color: rgb(206, 169, 21);
}

.plans__cards h5{
    font-size: 1.5rem;
    color: #1d1da5;
}

.plans__cards h4{
    font-size: 1.8rem;
    color: rgb(206, 169, 21);
}

.plans__cards h3{
    font-size: 2.1rem;
    color: #1d1da5;
}

.plans__cards h2{
    font-size: 2.4rem;
    color: rgb(206, 169, 21);
}